@model IEnumerable<Learning_WebApi.Models.User>
@using System.Web.Script.Serialization;

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<div class="container">

    <div class="panel panel-success">

        <div class="panel-heading">
            由
            <span style="font-weight:bold">ViewBag</span>
            顯示
        </div>
        <div class="panel-body">@Html.Raw(ViewBag.jsonUsers)</div>

    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">
            由
            <span style="font-weight:bold">Model</span>
            顯示
        </div>
        <div class="panel-body">
            @{
                var jsonChange = new JavaScriptSerializer(); //序列化
            }

            @foreach (var m in Model)
            {
                @jsonChange.Serialize(m); //將物件轉換為json字串
                <br />
            }
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            使用
            <span style="font-weight:bold">$.get</span>
            呼叫
            <span style="font-weight:bold">Api</span>
            顯示
        </div>
        <div class="panel-body" id="getPanel"></div>
        <div class="panel-footer panel-info">api網址:<a href="" class="apiPanel" style="font-weight:bold"></a></div>
    </div>

</div>

@section scripts{
    <script type="text/javascript">

        let apiUrl = "/api/values"; //api網址
        $(".apiPanel").html(apiUrl).attr("href", apiUrl);

        /*--------------$.get----------------*/
        $.get(apiUrl, function (response) {
            /*console.log(response);*/
            $.each(response, function (index, vel) { 
                /*console.log(vel);*/
                $("#getPanel").append(JSON.stringify(vel) + "<br>"); //將物件轉為json字串，再append進#getPanel
            });
        });
        /*--------------$.get End-------------*/

    </script>
}
