@model IEnumerable<Learning_WebApi.Models.User>

@{
    ViewBag.Title = "Show";
}

<h2>顯示後端json字串</h2>

<div class="container">

    <!--ViewBag-->
    <div class="panel panel-success">

        <div class="panel-heading">
            由
            <span style="font-weight:bold">ViewBag</span>
            顯示
        </div>
        <div class="panel-body">@Html.Raw(ViewBag.jsonUsers)</div>

    </div>

    <!--Model-->
    <div class="panel panel-warning">
        <div class="panel-heading">
            由
            <span style="font-weight:bold">Model</span>
            顯示
        </div>
        <div class="panel-body">

            @foreach (var m in Model)
            {
                //將物件解碼為Json字串
                <div>
                    @Json.Encode(m)
                </div>
            }
        </div>
    </div>

    <!--$.get-->
    <div class="panel panel-info">
        <div class="panel-heading">
            使用
            <span style="font-weight:bold">$.get</span>
            呼叫
            <span style="font-weight:bold">Api</span>
            顯示
        </div>
        <div class="panel-body" id="getPanel"></div>
        <div class="panel-footer panel-info">api網址:<a href="" class="apiPanel" style="font-weight:bold"></a></div>
    </div>

    <!--$.ajax-->
    <div class="panel panel-danger">
        <div class="panel-heading">
            使用
            <span style="font-weight:bold">$.ajax</span>
            呼叫
            <span style="font-weight:bold">Api</span>
            顯示
            <div class="btn btn-warning" id="btnAjax">開始</div>
        </div>
        <div class="panel-body" id="ajaxPanel" style="display:none;"></div>
        <div class="panel-footer panel-info">api網址:<a href="" class="apiPanel" style="font-weight:bold"></a></div>
    </div>

</div>

@section scripts{
    <script type="text/javascript">

        let apiUrl = "/api/values"; //api網址
        $(".apiPanel").html(apiUrl).attr("href", apiUrl);

        /*--------------$.get----------------*/
        $.get(apiUrl, function (response) {
            $.each(response, function (index, vel) { 
                $("#getPanel").append(JSON.stringify(vel) + "<br>"); //將物件轉為json字串，再append進#getPanel
            });
        });
        /*--------------$.get End-------------*/

        /*--------------$.ajax----------------*/
        $("#btnAjax").click(function () {
            $.ajax({
                url: apiUrl,
                type: "Get",
                contentType:"application/json",
                success: function (response) {
                    $.each(response, function (index, vel) {
                        $("#ajaxPanel").append(JSON.stringify(vel) + "<br>"); //將物件轉為json字串，再append進#ajaxPanel
                    });
                    $("#ajaxPanel").slideDown();
                }
            });
        });
        /*--------------$.ajax End----------------*/

    </script>
}
